/****************** 总容器 ******************/
.wrapper{
    width: 100%;
    height: 100%;
}
 
/****************** header ******************/
.wrapper header{
    width: 100%;
    height: 12vw;
    background-color: #0097FF;
    display: flex;
    align-items: center;
}
.wrapper header .icon-location-box{
    width: 3.5vw;
    height: 3.5vw;
    margin: 0 1vw 0 3vw;
}
.wrapper header .location-text{
    font-size: 4.5vw;
    font-weight: 700;
    color: #fff;
}
.wrapper header .location-text .fa-caret-down{
    margin-left: 1vw;
}

/****************** search ******************/
.wrapper .search{
    width: 100%;
height: 13vw;
}
.wrapper .search .search-fixed-top{
    width: 100%;
    height: 13vw;
    background-color: #0097FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .search .search-fixed-top .search-box{
    width: 90%;
    height: 9vw;
    background-color: #fff;
    border-radius: 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 3.5vw;
    color: #AEAEAE;
    font-family: "宋体";
    /*此样式是让文本选中状态无效*/
    user-select: none;
}
.wrapper .search .search-fixed-top .search-box .fa-search{
    margin-right: 1vw;
}
/****************** 点餐分类 ******************/
.wrapper .foodtype{
    width : 100%;
    height : 48vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

}
.wrapper .foodtype li{
    width: 18vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}
.wrapper .foodtype li img{
    width: 12vw;
    height: 12vw;
}
.wrapper .foodtype li p{
    font-size: 3.2vw;
    color: #666;

}
/****************** 横幅广告部分 ******************/
.wrapper .banner{
    width: 95%;
    height: 29vw;
    margin: 0 auto;

    background-image: url("../../img/index_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 2vw 6vw;
}
.wrapper .banner h3{
    font-size : 4.2vw;
    margin-bottom : 1.2vw;
}
.wrapper .banner p{
    font-size : 3.4vw;
    color : #666;
    margin-bottom : 2.4vw;
}
.wrapper .banner a{
    font-size : 3vw;
    color : #C79060;
    font-weight: 800;
}
/****************** 超级会员部分 ******************/
.wrapper .vip{
    width: 95%;
    margin: 0 auto;
    height: 11.5vw;
    background-color: #FEEDC1;
    margin-top: 1.3vw;
    border-radius: 2px;
    color: #644F1B;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .vip .left{
    display: flex;
    align-items: center;
    margin-left : 4vw;
    user-select: none;
}
.wrapper .vip .left img{
    width : 6vw;
    height : 6vw;
    margin-right : 2vw;
}
.wrapper .vip .left h3{
    font-size : 4vw;
    margin-right : 2vw;
}
.wrapper .vip .left p{
    font-size: 3vw;
}
.wrapper .vip .right{
    font-size:3vw;
    margin-right:4vw;
    cursor: pointer;
}
/****************** 超级会员部分 ******************/
.wrapper .recommend{
    width: 100%;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .recommend .recommend-line{
    width: 6vw;
    height:0.2vw;
    background-color: #888;
}
.wrapper .recommend p{
    font-size: 4vw;
    margin:0 4vw;
}
/****************** 推荐方式部分 ******************/
.wrapper .recommendtype{
    width: 100%;
    height: 5vw;
    display: flex;
    margin-bottom: 5vw;
    justify-content: space-around;
    align-items: center;
}
.wrapper .recommendtype li{
    font-size: 3.5vw;
    color: #555;
    cursor: pointer;
}